.header, body{ 
    background-size: cover;
     background: linear-gradient(0.25turn, #bbe5e5, #30bcf8, #fbfbfb, #30bcf8, #97aaa8, #05aaf0, #fbfbfb,#30bcf8, #bbe5e5);
 }
body{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.page-container {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
}
main {
    margin: auto;
}
#f18, #f35, #f15 {
    border: 3px solid #000000;
    border-radius: 4px;
    padding: 5px;
    width: 33%;
    height: 40%;
    /* margin-left: 20px; */
    /* margin-top: auto; */
    margin: auto;
    padding-bottom: 1rem;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 30px;
}
#carouselExampleAutoplaying {
    padding: 5px;
    /* border: 3px solid #ddd; */
    /* border-radius: 4px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
    margin-bottom: 1em;
    padding-bottom: 1rem;
}
#post {
    border: 3px solid rgb(3, 3, 9);
    box-sizing: border-box;
    border-radius: 25px;
    background: #05aaf0;
    padding: 1px;
    height: 30px;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 1%;
}

#postHeader, #patchHeader {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 13%;
}
#patch {
    border: 3px solid rgb(3, 3, 9);
    box-sizing: border-box;
    border-radius: 25px;
    background: #05aaf0;
    padding: 1px;
    width: 800px;
    height: 52px;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 1%;
}
#return {
    font-size: 20px;
}
#updateInp {
    border-bottom: 5em;
    border-top: 1em;
}
.aircraftDiv {
    padding-bottom: 1rem;
    text-align: center;
}

footer {
    /* position: fixed; */
    justify-content: end;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(146, 222, 237);
    margin-bottom: 0;
    margin-top: auto;
 }






