#container, .header, body{
    background-size: cover;
    background: linear-gradient(0.25turn, #05aaf0, #fbfbfb, #fbfbfb, #05aaf0, #fbfbfb, #05aaf0, #fbfbfb,#fbfbfb, #05aaf0);
}
#f18, #f35, #f15 {
    border: 3px solid #5c5a5a;
    border-radius: 4px;
    padding: 5px;
    width: 33.3%;
    height: 45%;
    /* margin-left: 20px; */
    /* margin-top: auto; */
    margin: auto;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#carouselExampleAutoplaying {
    padding: 5px;
    /* border: 3px solid #ddd; */
    /* border-radius: 4px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
    margin-bottom: 1em;
    
}
#post {
    border: 3px solid rgb(3, 3, 9);
    box-sizing: border-box;
    border-radius: 25px;
    background: #05aaf0;
    padding: 1px;
    height: 30px;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 1%;
}
#postHeader, #patchHeader {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 13%;
}
#patch {
    border: 3px solid rgb(3, 3, 9);
    box-sizing: border-box;
    border-radius: 25px;
    background: #05aaf0;
    padding: 1px;
    width: 800px;
    height: 52px;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 1%;
}
#return {
    font-size: 20px;
}
#updateInp {
    border-bottom: 5em;
    border-top: 1em;
}